:root {
  --blue: #05386B;
  --green-dark: #379683;
  --green-mid: #5CDB95;
  --green-light: #8EE4AF;
  --white: #EDF5E1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

div.main-bg {
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
}