.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 18rem;
    background-color: red;
}

.titleRow {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 2rem;
}

.projectName {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    color: var(--white);

    font-family: sans-serif;
    font-size: 0.75rem;
}

.expandArrow {
    display: flex;
    justify-content: center;
    align-items: center;

    aspect-ratio: 1;
    height: 100%;
    background-color: var(--green-dark);
}

.expandArrowIcon {
    transition: transform 0.5s;
}

.rotateExpandArrowIcon {
    transform: rotate(-180deg);
}

.projectImageOrText {
    position: relative;
    width: 100%;
    height: 12rem;
}

.projectImage, .projectText {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--green-light);
    color: var(--blue);
}

.projectText {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem;

    height: 0%;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}

.animateText {
    height: 100%;
    visibility: visible;
    opacity: 1;
}

.techStack {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 2rem;
    background-color: var(--blue);
    color: var(--white);
}

.projectLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 2rem;
    background-color: var(--green-dark);
}

.black {
    color: black;
}

.introLine {
    font-size: 0.75rem;
}

.linksToProject {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksToProject > * {
    padding: 0.3rem;
}