#project {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 80vh;
    background-color: var(--green-mid);
}

#carousel {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 20rem;
}

.projectCardArea {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
}

.carouselNavBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    overflow: hidden;
}

.prev, .next {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25%;
    height: 2rem;
    background-color: var(--green-dark);

    cursor: pointer;
}